streamlit
pandas
openai
instructor
pydantic
python-docx
docx2python
python-dotenv
country_converter
google-generativeai
pdfplumber
pdf2image
Pillow
tqdm
xlsxwriter
openpyxl
faiss-cpu
sentence-transformers
matplotlib

